@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
:root{
    --fontStyle : 'Kdam Thmor Pro',sans-serif;
    --backgroundColor: rgb(3, 27, 61);
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontStyle) ;
}


.container{
    background-color: var(--backgroundColor);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    min-width: 300px;
    min-height: 460px;
    background-color: white;
    border-radius: 15px;
    border: 7px solid #2B2D42;
    box-sizing: border-box;
    overflow: hidden;
}

.display{
    width: 100%;
    height: 120px;
    background-color: #2B2D42;
    opacity: 0.95;
}

.display-1{
    height: 30px;
    width: 100%;
    text-align: end;
    padding: 10px 12px 0px 0px;
    font-size: 18px;
    color: antiquewhite;
    opacity: 0.79;
}

.display-2 {
    height: 40px;
    width: 100%;
    text-align: end;
    padding: 10px 10px 0px 0px;
    font-size: 26px;
    color: antiquewhite;
    
}

.result{
    height: 20px;
    width: 100%;
    text-align: start;
    padding: 0px 0px 0px 15px;
    color: antiquewhite;
    font-size: 22px;
    opacity: 0.79;
}

.buttons-container{
    width: 100%;
    height: 100%;
    background-color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: grid;
    grid-template: repeat(4, 1fr)/repeat(4, 1fr);
    cursor: pointer;
}

.button{
    width: 75px;
    height: 90px;
    color: whitesmoke;
    background-color: #22162B;
    font-size: 20px;
    font-weight: 650;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5px solid rgba(92, 92, 92, 0.066);
    user-select: none;

}

.button:hover{
    background-color: rgb(30, 43, 46);
    border-radius: 1px;
    border: .5px solid rgba(224, 211, 211, 0.595);
}

.numberZero {
    grid-column: 1/3;
    width: 100%;
    
}